<h1>hola soy la pagina de galeria</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus ea, soluta velit quos inventore ex assumenda saepe
    neque temporibus non deleniti repellat dolor odio. Illum repellendus error ratione voluptate natus.</p>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Praesentium, quae delectus numquam minus voluptatem illo
    saepe nam. Magni quod, veritatis animi voluptatibus, maiores aliquid libero, voluptatum perferendis nisi numquam
    architecto.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et, sunt quod quia dignissimos possimus quo provident
    commodi sit maxime, placeat iste, cum molestiae tempore optio ipsum animi soluta incidunt quibusdam?</p>